<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.domain.product.deposit.mapper.DepositProductMapper">
    <select id="getDepositProductList" resultType="com.example.demo.domain.product.deposit.dto.DepositProductListResponse">
        SELECT
            depositId,
            depositType,
             depositName,
            minInterestRate,
            maxInterestRate,
             minJoinAmount,
            maxJoinAmount,
             minPeriod,
           maxPeriod,
            features,
            notice,
            terms,
            description,
            target,
            depositSort,
            taxBenefits,
            savingType
        FROM
            deposit_product
    </select>
    <select id="getDepositProductDetail" resultType="com.example.demo.domain.product.deposit.dto.DepositProductDetailResponse">
        SELECT  depositId,
                depositType,
                depositName,
                minInterestRate,
                maxInterestRate,
                minJoinAmount,
                maxJoinAmount,
                minPeriod,
                maxPeriod,
                features,
                notice,
                terms,
                description,
                target,
                depositSort,
                taxBenefits,
                savingType
        FROM deposit_product
        WHERE depositId = #{id}
    </select>
</mapper>