<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.domain.investAnalysis.mapper.InvestAnalysisMapper">
    <insert id="insert">
        INSERT INTO risk_profile (
           profileId, profileName, profileDate, profileScore, id
        ) VALUES (
                    profile_id_seq.NEXTVAL, #{profileName}, #{profileDate}, #{profileScore}, #{id}
                 )
    </insert>
</mapper>
